{% extends 'base.html'%}

{% block  content %}


<header class="bg-info text-white">
    <div class="container text-center">
        <h1>Salary Database</h1>
        <p class="lead"></p>
    </div>
</header>

<section>
    <div class="container my-5">
        <h2>Search:</h2>
        <form class="row" action="/">
            <div class="col mx-2 input-group has-clear">
                <input class="form-control" type="text" name="employer" placeholder="Employer"
                    value="{{form_values['employer']}}">
                <button class="form-control-clear btn bg-transparent d-none" type="button">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="col mx-2 input-group has-clear">
                <input class="form-control" type="text" name="title" placeholder="Job Title"
                    value="{{form_values['title']}}">
                <button class="form-control-clear btn bg-transparent d-none" type="button">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="col mx-2 input-group has-clear">
                <input class="form-control" type="text" name="city" placeholder="City" value="{{form_values['city']}}">
                <button class="form-control-clear btn bg-transparent d-none" type="button">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <select class="col mx-2 form-control" name="state">
                <option {{'selected' if not form_values['state']}} value="">Any State</option>
                {% for abv, name in states.items() %}
                <option value="{{ abv }}" {{'selected' if abv == form_values['state'] }}>{{ name }}</option>
                {% endfor %}
            </select>
            <select class="col mx-2 form-control" name="year">
                <option {{'selected' if not form_values['year']}} value="">Any Year</option>
                {% for i in range(2019, 2007, -1) %}
                <option value="{{ i }}" {{'selected' if i == form_values['year'] | int }}>{{ i }}</option>
                {% endfor %}
            </select>
            <input class="col mx-2 btn btn-primary" type="submit" value="Search">
        </form>
    </div>
    <div class="row overflow-auto">
        <div class="col-lg-10 mx-auto">
            <table class="table" data-toggle="table" data-pagination="true" data-pagination-v-align="both"
                data-sortable="true" data-sort-order="desc" data-silent-sort="false" data-url="/table"
                data-side-pagination="server">
                <thead>
                    <tr>
                        <th scope="col" data-sortable="true" data-field="employer_name" data-formatter="linkFormatter">
                            Employer</th>
                        <th scope="col" data-sortable="true" data-field="job_title" data-formatter="linkFormatter">Job
                            Title</th>
                        <th scope="col" data-sortable="true" data-field="prevailing_wage"
                            data-formatter="salaryFormatter">
                            Salary</th>
                        <th scope="col" data-sortable="true" data-field="employer_city" data-formatter="linkFormatter">
                            City</th>
                        <th scope="col" data-sortable="true" data-field="employer_state" data-formatter="linkFormatter">
                            State</th>
                        <th scope="col" data-sortable="true" data-field="employment_start_date"
                            data-sorter="dateSorter">Start Date
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>

{% endblock%}
