header {
  padding: 156px 0 100px;
}

body {
  position: relative;
  min-height: 100vh;
}

::-ms-clear {
  display: none;
}

.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
  margin-left: -40px;
  z-index: 100;
}

<<<<<<< HEAD
.table-wrapper {
  padding-bottom: 150px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
=======
footer {
  position : absolute;
  bottom : 0;
  height : 40px;
  margin-top : 40px;
}
>>>>>>> 364dd07... Added href to graphql page
